*{
    font-family: 'Montserrat', sans-serif;
    
    margin: 0;
    padding: 0;
    
}

.container{
    display: flex;
}
.left-container{
    display: flex;
    flex-direction: column;
    flex:0.8;
    background-color: #DFEEFF;
    height: 135vh;
    width: auto;
    padding-top:10px ;
  
    
}
.cv-photo img{
    margin-top: 30px;
    margin-left: 40px;
    height: 170px;
    width: 200px;
    border-radius: 50%;
    transition: transform 2s;
    
}
.cv-photo img:hover{
    margin-top: 40px;
    margin-left: 55px;
    align-items: center;
    transform: scale(1.5);
    border: 1px solid black;

}

.contact{
    margin-top: 40px;
    margin-left: 30px;
}
.contact p{
    margin-top: 10px;
}
.contact .ph-number{
    color:#4489FF;
}
.contact a{
    color: #4489FF;
}
.tech-skills{
    margin-top: 40px;
    margin-left: 30px;
}
.tech-skills li{
    margin-top: 4px;
    margin-left: 25px;
}
.soft-skills{
    margin-top: 40px;
    margin-left: 30px;
}
.soft-skills li{
    margin-top: 4px;
    margin-left: 25px
}
.social{
    margin-left: 35px;
    margin-top: 270px;
    font-size: 30px;
    
}
.social i{
    margin-top: 20px;
    padding-left: 10px;
}
.social h5{
    margin-top: 10px;
    
}
.social a:active{
    color:#4489FF;
}
.social a{
    color: #595959;
}
.content{
    display: flex;
    flex:3;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 40px;
}
.name .text{
width: 702px;
height: 100px;


}
.project{
    margin-top: 35px;
    width: 529px;
    height: 111px;
   
}
.project li{
    margin-left: 20px;
    margin-top: 3px;
}
.project a{
    color:#A8A8A8;
    
}
.work-experince h4{
    margin-top: 10px;
}
.blue{
    
    color:#6096FF;
}
.date{
    
    color:#A8A8A8;
    font-size: small;
}
.work-experince li{
    color:#A8A8A8;
    margin-left: 20px;
}
.work-experince .job1 li{
    color: #595959;
}
.education{
    margin-top: 20px;
    margin-bottom: 10px;
}
.education h4{
    margin-top: 5px ;
}
